h1 {
    color: rgb(230, 145, 80);
    /*todo float: left; */
}

navbar a {
    background-color: white;
    color: black;
    text-decoration: none;
    /* todo float: left; */
}

navbar a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    /* todo float: left; */
}

a {
    background-color: lightgray;
    color: black;
    text-decoration: none;
    /* todo float: left; */
}

a:hover {
    background-color: black;
    color: lightgray;
    text-decoration: none;
    /* todo float: left; */
}

/* TODO RADIO INPUT HOVER BRING FOCUS TO IT OR CHANGE COLOR */