<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Base Page</title>
  </head>
  <body>
    <navbar>
      <a href="/">Base</a>
      <a href="/home">Home</a>
    </navbar>
    <main class="content">{% block content %} This is the base page for development, use navbar and select "Home" to begin{% endblock %}</main>
  </body>
</html>
